.main-container{
background-attachment: fixed;
background-image: url(../img/pp/acero1.jpeg);
background-size:cover;
background-repeat:  no-repeat;
background-position: 0 60px;
background-color: #343a40 !important;
}
.carousel-inner{
  margin: 38px auto !important;
  position: relative;
  height: 200px;
}

.categorias{
  color: white;
}
